<div class="header grid grid-cols-8 my-5">
  <div class="name col-span-3 col-start-2">
    <h1 class="uppercase poiret-one-regular text-5xl mb-2">EdYu</h1>
    <p class="open-sans-300">
      I'm a chemist turned coder! I started by automating tedious tasks in the lab, which sparked my
      passion for data and development. Now, with a Masters in Data Analytics, I'm a Full Stack
      Developer building projects and solving problems. Thanks for visiting!
    </p>
  </div>
  <div class="links text-right col-span-3 col-start-5">
    <a class="block" href="#about">about</a>
    <a class="block" href="#linkedin">linkedin</a>
    <a class="block" href="#resume">resume</a>
    <a class="block" href="#contact">contact</a>
    <a class="block" href="#github">github</a>
  </div>
</div>
